<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjw.rpc.user.mapper.UserMapper">

    <sql id="WHERE_CLAUSE">
        <where>
            <if test="userId != null">
               AND user_id = #{userId}
            </if>
            <if test="userName != null">
                AND user_name = #{userName}
            </if>
            <if test="password != null">
                AND password = #{password}
            </if>
        </where>
    </sql>

    <resultMap id="UserModelResultMap" type="User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="find" resultMap="UserModelResultMap" parameterType="com.mjw.user.dto.request.UserRequestDto">
        SELECT * FROM m_user
        <if test="_parameter != null">
            <include refid="WHERE_CLAUSE" />
        </if>
    </select>

</mapper>